body{
  background-color: #ff75ff;
}

.div{
  background-color: white;
}
/* Add flexbox to the navbars. */

/* Format the size of all images. */

/* Style the font color. */

/* Style the background with a color or image. */

/* Adjust the spacing of your page. */

/* Adjust the positioning of your page.  */
;
.heading{
  width: 490px;
  margin-right: 0px;
  
}
.headingtitle{
  text-align: center;
  margin:auto;
  background-color: grey;
  }

.Contact{
  background-color: whitesmoke;
  display:flexbox;
  width: 500px;
}